
h1,h2,h3,p,a,div{

  font-weight: normal;
    color: #0fadbc

}
.navbar-brand{
  
   padding: 0px;

}
 
.navbar ul li:hover{
  font-size: 20px;
  
}

 
.navbar-brand>img{
  
  height: 120%;
  padding: 7px 15px;
  width: auto;
  
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.marketing h2 {
  font-weight: normal;
    color: #0fadbc

}
.marketing .col-lg-4 p {

  margin-left: 10px;
  margin-right: 10px;
}

.marketing p{
  
  color: #0fadbc
}

.marketing img{
  
  margin-top: 20px;
}

.table-responsive{
   
  margin-top: 80px;
   color: #0fadbc;
  
}

.marketing ul{
   color: #0fadbc;
  font-size: 20px;
  
}

.frase{
  margin-top: 50px;
color: #0fadbc;
  
    
}

.container .panel-heading {
  
  color: #0fadbc;
  
}

.panel-default{
  
  margin-top: 80px;
  text-align: center;
  font-size: 20px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}





/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #F8F8F8;
  color: black;
  text-decoration: none;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }


}


.featurette-heading {
    font-size: 50px;
  }


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



