#+OptionsIndexing
#="true"
Options +Indexes
IndexOptions +FancyIndexing
#-OptionsIndexing

#+Unmarked

#-Unmarked

#+PreventHotlinking
#={"AllowDirect":"false","AllowedHostnames":[""],"RedirectURL":"","Extensions":[".jpg"," .png",".js",".css"]}
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https?:///.*$ [NC]
RewriteRule .*\.(.jpg| .png|.js|.css)$ - [R,NC]
#-PreventHotlinking

